<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
<!--    все что выше это конфигурация которая позволяет использовать spring framework-->
<!--    если я хочу сказать что бы создали обьект класса TestBean я должна прописать путь к нему-->

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicBean"
          class="org.example.RockMusic">
    </bean>

    <bean id="musicPlayer"
          class="org.example.MusicPlayer">
        <property name="music" ref="musicBean"/>
        <property name="name" value="Noa"/>
        <property name="volume" value="60"/>
    </bean>

</beans>

<!--xml это такой формат который может описать конфигурацию-->
<!--bean smth like objects-->